@model Notesapp.Models.Group

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.BootstrapValidationSummary(true)

    <fieldset>
        <legend>Group</legend>

		<dl class="dl-horizontal">
			<dt>
			@Html.LabelFor(model => model.Name)
			</dt>
			<dd>
				@Html.EditorFor(model => model.Name)
				@Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class="help-inline" })
			</dd>
			</dl>

		<dl class="dl-horizontal">
			<dt>
			@Html.LabelFor(model => model.Owner)
			</dt>
			<dd>
				@Html.EditorFor(model => model.Owner)
				@Html.ValidationMessageFor(model => model.Owner, string.Empty, new { @class="help-inline" })
			</dd>
			</dl>

        <div class="control-group">
			<div class="controls">
				<input type="submit" value="Create" class="btn btn-primary" /> &nbsp; @Html.ActionLink("Cancel", "Index", null, new { @class="btn"})
			</div>
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

	<script>

	$.validator.setDefaults({
            highlight: function (element) {
                $(element).closest(".control-group").addClass("error");
            },
            unhighlight: function (element) {
                $(element).closest(".control-group").removeClass("error");
            }
        });
	</script>
}
