@model Notesapp.Models.Note

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.BootstrapValidationSummary(true)

    <fieldset>
        <legend>Note</legend>

        @Html.HiddenFor(model => model.Id)

		
		<dl class="dl-horizontal">
			<dt>
            @Html.LabelFor(model => model.Name)
        
			</dt>
			<dd>
				@Html.EditorFor(model => model.Name)
				@Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class="help-inline" })
			</dd>
		</dl>

		
		<dl class="dl-horizontal">
			<dt>
            @Html.LabelFor(model => model.Content)
        
			</dt>
			<dd>
				@Html.EditorFor(model => model.Content)
				@Html.ValidationMessageFor(model => model.Content, string.Empty, new { @class="help-inline" })
			</dd>
		</dl>

		
@*		<dl class="dl-horizontal">
			<dt>
            @Html.LabelFor(model => model.Created)
        
			</dt>
			<dd>
				@Html.EditorFor(model => model.Created)
				@Html.ValidationMessageFor(model => model.Created, string.Empty, new { @class="help-inline" })
			</dd>
		</dl>*@

		
		<dl class="dl-horizontal">
			<dt>
            @Html.LabelFor(model => model.Lat)
        
			</dt>
			<dd>
				@Html.EditorFor(model => model.Lat)
				@Html.ValidationMessageFor(model => model.Lat, string.Empty, new { @class="help-inline" })
			</dd>
		</dl>

		
		<dl class="dl-horizontal">
			<dt>
            @Html.LabelFor(model => model.Lon)
        
			</dt>
			<dd>
				@Html.EditorFor(model => model.Lon)
				@Html.ValidationMessageFor(model => model.Lon, string.Empty, new { @class="help-inline" })
			</dd>
		</dl>

		
		<dl class="dl-horizontal">
			<dt>
            @Html.LabelFor(model => model.Image)
        
			</dt>
			<dd>
				@Html.EditorFor(model => model.Image)
				@Html.ValidationMessageFor(model => model.Image, string.Empty, new { @class="help-inline" })
			</dd>
		</dl>

		
		<dl class="dl-horizontal">
			<dt>
            @Html.LabelFor(model => model.Owner)
        
			</dt>
			<dd>
				@Html.EditorFor(model => model.Owner)
				@Html.ValidationMessageFor(model => model.Owner, string.Empty, new { @class="help-inline" })
			</dd>
		</dl>

		
		<dl class="dl-horizontal">
			<dt>
            @Html.LabelFor(model => model.GroupId, "Group")
        
			</dt>
			<dd>
				@Html.DropDownList("GroupId", String.Empty)
				@Html.ValidationMessageFor(model => model.GroupId, string.Empty, new { @class="help-inline" })
			</dd>
		</dl>

        <div class="control-group">
			<div class="controls">
				<input type="submit" value="Save" class="btn btn-primary" /> &nbsp; @Html.ActionLink("Cancel", "Index", null, new { @class="btn"})
			</div>
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

	<script>

	$.validator.setDefaults({
            highlight: function (element) {
                $(element).closest(".control-group").addClass("error");
            },
            unhighlight: function (element) {
                $(element).closest(".control-group").removeClass("error");
            }
        });
	</script>
}
