@model Notesapp.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>

        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Change password" />
            </div>
        </div>
    </fieldset>
}
