@model Notesapp.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="form-header">
    <h2>@ViewBag.Title</h2>
</hgroup>

<div class="row">
    <div class="span6">
        <section id="loginForm">
            <h2>Use a local account to log in.</h2>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.BootstrapValidationSummary(true)
                <div class="well">
                    <fieldset>

                        <div class="control-group">
                            @Html.LabelFor(m => m.UserName)
                            <div class="controls">
                                @Html.TextBoxFor(m => m.UserName)
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Password)
                            <div class="controls">
                                @Html.PasswordFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary">
                                    sign in</button>
                                <label class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    <span>Remember Me</span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <p>
                    @Html.ActionLink("Register", "Register") if you don't have an account.
                </p>
            }
        </section>
    </div>
    <div class="span6">
        <section class="social" id="socialLoginForm">
            <h2>Use another service to log in.</h2>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
